@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Algo de errado aconteceu</h1>
<h2 class="text-danger">Retornar a página anterior e verificar os dados selecionados.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Requisição ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>ERROR MODE</h3>
<p>
    Clique no botão retornar e verifique os dados e tente novamente.
</p>
<p>
    Em caso de persistência do erro, entre em contato com nosso suporte.
    <a href="~/Contas/Index" class="btn btn-danger">Retornar a página</a>
</p>
